.cart_link{
    background-color: lightgray;
    border-radius: 50%;
   padding: 10px;
   position: fixed;
   z-index:2;
   top: 17px;
   right: 80px;
   font-size: 15px;
   img{
        width: 25px
   }
}

.cart_link:hover{
        background-color: white;
    
    }

.cart__navlink{
    
        text-decoration: none;
        color: $color1;

    
}

@media (max-width:600px) {
 
        .cart_link{
                font-size: 14px;
                img{
                   width: 24px
                }
            }
    
      }
    