


   .dropbtn {
    background-color: white ;
    color: #10A19D;
    padding: 6px;
    font-size: 20px;
    border: none;
    cursor: pointer;
    text-decoration: none;
    
    font-weight: bold;
   
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
    
  }

  .dropdown a:hover{
    color:#2772db;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 120px;
    // box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    text-align: center;
    height: 32px;
    background-color: lightgreen;
  }
  
  .dropdown-content a {
    color: #10A19D;
    padding: 2px 2px;
    font-size: 20px;
    text-decoration: none;
    display: block;
    font-weight: bold;
  }
  
  .dropdown-content .dropdown-link:hover {color: #2772db}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
.dropdown-container{
  position: absolute;
  right: 160px;
  top: 10px;
  z-index: 2;
}

@media (max-width:600px) {
 
  .dropdown-container{
  
    right: 60px;
    height: 20px;
    min-width: 100px;
  }

  .dropdown-content a {
   
    font-size: 13px;
    
  }

  .dropdown-content {
   
    min-width: 90px;
    
  }
 
  
  .dropbtn {
    
    font-size: 13px;
    
  }
 

}

