


   .dropbtn {
    background-color: lightgray ;
    color: #2772db;
    padding: 16px;
    font-size: 25px;
    border: none;
    cursor: pointer;
    text-decoration: none;
   
   
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
   
    
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 150px;
    // box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
   
  }
  
  .dropdown-content a {
    color: #2772db;
    padding: 12px 12px;
    font-size: 25px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content .dropdown-link:hover {background-color: #f1f1f1}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
.dropdown-container{
  position: absolute;
  right: 200px;
 
}