.cartPage_container{
    margin: 100px;
    background-color: white;
  
    

}

.cartPage_container_title{
    padding-left: 30px;
    padding-top: 40px;
    padding-bottom: 30px;
  font-family: $font1;
   font-size: 35px;
   color: $color1;

}

.pay_button{
    background-color: $color1;
    width: 100px;
    height: 40px;
    border: none;
    margin-bottom: 30px;
    margin-left: 30px;
    border-radius: 3px;
    font-size: 15px;
  
}

.pay_button:hover{
    cursor: pointer;
    
}

@media (max-width:600px) {
 
    .cartPage_container{
        margin: 30px;
        background-color: white;
       
        align-items: center;
       
    
    }

    .cartPage_container_title{
        font-size: 25px;
    }

  }
