table, th, td {
    border:1px solid black;

  }

table{
    margin-bottom: 10px;
    margin-top: 10px;
}

th, td{
    width: 250px;
  
}

.orders_items_container{
    margin-bottom: 10px;
    margin-top: 10px;
}

.shippingdata{
    margin-bottom: 5px;
    margin-top: 5px;
}


.orderDate{
    margin-bottom: 5px;
    margin-top: 5px;
}

.orders_container{
    display: flex;
    flex-direction: column;
    margin: 50px;
    
   
}
